<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDG0kvWtUR76B83pO68fCOeT2tg3HnyvJs</string>
	<key>GCM_SENDER_ID</key>
	<string>1093872308638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stylehub</string>
	<key>PROJECT_ID</key>
	<string>stylehub-1cfee</string>
	<key>STORAGE_BUCKET</key>
	<string>stylehub-1cfee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093872308638:ios:e803ccb32fe04ca029868f</string>
</dict>
</plist>